.logo {
    font-weight: bold;
    color: #233e7b;
    text-shadow: 2px 2px #99c1e2;
    font-family: 'MuseoModerno', cursive;
}

#page-load-modal {
    font-family: 'Nunito', sans-serif;
    /* width: 60vw;
    left: calc(50vw - 30vw); */
    background-image: linear-gradient(#a7f2a7, #eafeea);
    position: absolute;
    z-index: 99;
    text-align: center;
}

#stock-history>li {
    cursor: pointer;
}